body {
    font-family: 'Share Tech Mono', monospace;
    background-image: url("/images/background3.png");
    background-position; center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    /*padding-bottom: 380px;*/
    margin-right: 175px;
}

.headerRow {
    padding-top: 100px;
}

.headerlogo {
    height: 100px;
    background-size: 100% 100%;
    background-image: url("/images/ultimateWish1.png");
    margin-bottom: 30px;
}

.mainContent {
    background: rgba(161, 165, 173, 0.5);
}

.sideNav {
    background: rgba(161, 165, 173, 0.5);
}

.sideNav .panel-heading {
    background: rgba(161, 165, 173, 0.5);
}

.panel {
    background: rgba(161, 165, 173, 0.5);
}

.charPorts {
    height: 160px;
    width: 120px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.char1 {
    padding-top: 20px;
}

.char3 {
    padding-bottom: 20px;
}

.detailsPanel {
    font-size: 22px;
    color: #ffffff;
    margin: auto;
    padding-bottom: 300px;
}

.gamelogWell {
    background: rgba(161, 165, 173, .8);
    font-size: 22px;
    color: #ffffff;
}

