body {
    background-image: url("/images/background2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Share Tech Mono', monospace;
}

.container {
    padding-bottom: 380px;
    margin-right: 120px;
}

.headerRow {
    padding-top: 50px;
}

.jumbotron {
    height: 100px;
    background-size: 100% 100%;
    background-image: url("/images/ultimateWish2.png");
}

.mainContent {
    background: rgba(161, 165, 173, 0.5);

}

.sideNav {
    background: rgba(161, 165, 173, 0.5);
}

.sideNav .panel-heading {
    background: rgba(161, 165, 173, 0.5);
}

.charPorts {
    height: 160px;
    width: 120px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.char1 {
    padding-top: 20px;
}

.char3 {
    padding-bottom: 20px;
}

.detailsWell {
    margin: auto;
}

.gamelogWell {
    background: rgba(161, 165, 173, 0.5);
    font-size: 18px;
}

