{{#partial "content"}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="landingHeading">Silent Inn</h1>
        </div>
        <div class="panel-body gameplayBody">
        <div class = "board1">
            <img src="/images/tavern.png" width="100%" height="100%">
        </div>
        </div>
    </div>
    <div class="well gamelogWell">
        <p>: You enter the Inn, and to your dismay you see nothing but silent emptiness, and it brings a chill to your bones. However, the Inn's beds seem to be free, and I doubt anyone would mind if you were to just fall asleep for a few hours</p>

        Choose your path:
        <br>
        <a href="/game/board3.1">Take a break, drink some mead, and take a nap.</a>
        <br></br>
        <a href="">Continue on your adventure</a>
        <br></br>
        <a href="">Give up. This Inn makes you realize that life isn't worth living, and you'd prefer to stay inside and live your new life in a comfortable shell.</a>

        <h4>Back to main page:<a href="/">Click Here!</a></h4>
    </div>
{{/partial}}
{{> layout.hbs}}