{{#partial "content"}}

<div class = "well">
    <h3>Name: {{character.name}}</h3>
    <p>Class: {{character.charClass}}</p>
    <p>Gender: {{character.gender}}</p>
    <p>Description: {{character.description}}</p>
   <h3>Character Stats:</h3>
        <p>HP:</p> <p>MP:</p>
        <p>Strength:</p>
        <p>Magic:</p>
        <p>Dexterity:</p>
        <p>Defense:</p>
        <p>Magic Defense:</p>
        <p>Level:</p>
        <p>Experience:</p>
        <a href="/game">Continue Game</a>
</div>

{{/partial}}
{{> layout.hbs}}