{{#partial "content"}}
    <div>
        <div class="panel-heading">
            <h1 class="landingHeading">Game Play Screen</h1>
        </div>
        <div class="well gameplayWell">
            <img src="/images/gameplay.jpg" width="100%" height="100%">
        </div>

        <div class="well gamelogWell">
            <p>Forage craft beer fingerstache, polaroid disrupt hot chicken meggings pork belly fanny pack biodiesel. Salvia tumeric freegan jianbing truffaut farm-to-table four dollar toast bespoke meditation single-origin coffee iPhone offal brooklyn. Everyday carry cray austin pabst, air plant mixtape mlkshk. Fam polaroid cred irony occupy skateboard artisan wolf. Butcher paleo tousled photo booth. Tacos brooklyn bushwick forage disrupt snackwave echo park VHS air plant celiac literally schlitz. Man braid vape tumeric migas.</p>
            <h4>Back to main page:<a href="/">Click Here!</a></h4>
        </div>



    </div>
{{/partial}}
{{> layout.hbs}}