{{#partial "content"}}
    <div>
        <div class="panel-heading">
            <h1 class="landingHeading">Ultimate Wish Landing Page!</h1>
        </div>
        <div class="well detailsWell">
            <h3>Game Details</h3>
            <p>Lorem ipsum dolor amet flexitarian skateboard street art food truck flannel. Copper mug farm-to-table cred roof party schlitz stumptown cold-pressed migas literally distillery XOXO tumeric green juice. Fam blog synth, street art echo park keffiyeh dreamcatcher occupy. Seitan ennui adaptogen humblebrag 8-bit semiotics.</p>
            <hr>
            <h3>To start a new game <a href="character/new">Click Here!</a></h3>
            <h3>HUD Page<a href="/game">Click Here!</a></h3>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}