{{#partial "content"}}
    <div class="col-md-12">
        <div class="panel panel-default mainContent">
            <div class="panel-heading">
                <h1 class="landingHeading">Do You Have an Ultimate Wish?</h1>
            </div>
            <div class="panel-body detailsPanel">
                <p>Welcome to Ultimate Wish VII, a game of ultimate wishes that is definitely not Final Fantasy VII! We promise!</p>
                <hr>
                <h3>To start a new game click:<a href="character/new"><img border="0" alt="playnow" src="/images/play.png" width="200" height="60"></a></h3>
                <h3>Resume Game<a href="/game/board1">Click Here!</a></h3>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}