<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Ultimate Wish{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div class="row headerRow">
        <div class="col-md-12">
            <div class="headerlogo">
            </div>
        </div>
    </div>
    <div class="row mainRow">
        <div class="col-md-2">
            <div class="panel panel-default sideNav">
                <div class="panel-heading">
                    <h2>Party</h2>
                </div>
                <div class="char1">
                    <a href="/character/1"><img class="charPorts"  src="/images/char3.png"></a>
                </div>
                <hr>
                <div class="char2">
                    <a href="/character/2"><img class="charPorts" src="/images/redmage.jpg"></a>
                </div>
                <hr>
                <div class="well curLocation">
                    <h4>Loc/Time</h4>
                    <ul>
                        <li>Current Loc</li>
                        <li>Current Time</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {{#block "content"}}
            {{/block}}
        </div>
        <div class="col-md-2">
            <div class="panel panel-default sideNav">
                <div class="panel-heading">
                    <h2>Inv./Stats</h2>
                </div>
                <div class="well level">
                    <ul>
                        <li>Level Numerical</li>
                    </ul>
                </div>
                <hr>
                <div class="well stats">
                    <ul>
                        <li>Current HP/Max HP</li>
                        <li>Def</li>
                        <li>Str</li>
                        <li>Magic</li>
                        <li>Dex</li>
                        <li>Current MP/Max MP</li>
                    </ul>
                </div>
                <hr>
                <div class="well inv">
                    <h4>Spells</h4>
                    <ul>
                        <li>Spell1</li>
                        <li></li>
                    </ul>
                    <h4>Weapons</h4>
                    <ul>
                        <li>Weapon1</li>
                        <li></li>
                    </ul>
                    <h4>Armor/Items</h4>
                    <ul>
                        <li>Armor/Item1</li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>