{{#partial "content"}}
    <div class = "well newCharWell">
    <h1>New Character</h1>
    <form action="/character/new" method="post">
        <label>Name: </label>
        <input name="name">
        <br>
        <h2>Select Class:</h2>
        <label class="radio-inline"><input type="radio" name="fighter">Fighter</label>
        <label class="radio-inline"><input type="radio" name="red mage">Red Mage</label>
        <br>
        <h4>Select Gender:</h4>
        <label class="radio-inline"><input type="radio" name="gender">Male</label>
        <label class="radio-inline"><input type="radio" name="gender">Female</label>
        <br>
        <h2>Character Stats:</h2>
        <p>HP:</p> <p>MP:</p>
        <p>Strength:</p>
        <p>Magic:</p>
        <p>Dexterity:</p>
        <p>Defense:</p>
        <p>Magic Defense:</p>
        <p>Level:</p>
        <p>Experience:</p>

        <label>Character Description: </label>
        <input name="description">

        <button type="submit">submit</button>
        <a href="/">Go Back</a>
    </form>
    </div>
{{/partial}}
{{> layout.hbs}}
