{{#partial "content"}}

<h1>Success!</h1>
<div class = "well">
<h2 class = "about">Your character has been created!</h2>

<a href="/character/new">Create another</a>
<a href="/">Main Page</a>
</div>
{{/partial}}

{{> layout.hbs}}